# Archivos compilados python
*.pyc

# Pycharm
.idea/
.vscode/

# Gráficos
*.png

# Subreleases
subreleases/
.releases/
dist/*.zip

# Logs
*.log
log.txt

# Test file
_test

# Virtual environment
venv/
