# Archivos compilados python
*.pyc
*._**

# Pycharm
.idea/
.vscode/

# Gráficos
*.png

# Subreleases
.old_releases.zip
dist/*.zip

# Logs
*.log
log.txt

# Test file
_test

# Virtual environment
venv/
