# Archivos compilados python
*.pyc
*._**
__pycache__

# Pycharm
.idea/
.vscode/

# Gráficos
*.png

# Subreleases
.old_releases.zip
dist/*.zip
extlbx/res/upload.json

# Logs
*.log
log.txt

# Test file
_test

# Virtual environment
venv/
